In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir('/content/drive/MyDrive/ZB/DL_project_2/data/Validation')

In [ ]:
os.mkdir('./label_val')

In [ ]:
!unzip -qq '/content/drive/MyDrive/ZB/DL_project_2/data/Validation/label_val.zip' -d '/content/drive/MyDrive/ZB/DL_project_2/data/Validation/label_val'

In [ ]:
from IPython.utils.io import temp_pyfile
import json
import pandas as pd

def open_json_to_DF(path):
    with open(path, 'r') as file:
        data = json.load(file)
        data = dict(data)

        fname = data['FileInfo']['FileName']
        if '정상' in fname:
            label = 'normal'
        elif '졸음' in fname:
            label = 'sleep'
        elif '하품' in fname:
            label = 'yawn'
        elif '통화' in fname:
            label = 'call'
        elif '흡연' in fname:
            label = 'smoking'

        d = {
            'FileName' : data['FileInfo']['FileName'],
             'Width': data['FileInfo']['Width'],
             'Height':data['FileInfo']['Height'],
             'label': label,
             'Mask' :data['Accessory']['Mask'],
             'Glasses' : data['Accessory']['Glasses'],
             'Cap': data['Accessory']['Cap'],
             'Annotation' : data['Annotation'],
             'Face_TF': data['ObjectInfo']['BoundingBox']['Face']['isVisible'],
             'Face_BB': str(data['ObjectInfo']['BoundingBox']['Face']['Position']),
             'Leye_TF': data['ObjectInfo']['BoundingBox']['Leye']['isVisible'],
             'Leye_BB': str((data['ObjectInfo']['BoundingBox']['Leye']['Position'])),
             'Reye_TF': data['ObjectInfo']['BoundingBox']['Reye']['isVisible'],
             'Reye_BB': str((data['ObjectInfo']['BoundingBox']['Reye']['Position'])),
             'Mouth_TF': data['ObjectInfo']['BoundingBox']['Mouth']['isVisible'],
             'Mouth_BB': str((data['ObjectInfo']['BoundingBox']['Mouth']['Position'])),
             'Cigar_TF': data['ObjectInfo']['BoundingBox']['Cigar']['isVisible'],
             'Cigar_BB': str((data['ObjectInfo']['BoundingBox']['Cigar']['Position'])),
             'Phone_TF': data['ObjectInfo']['BoundingBox']['Phone']['isVisible'],
             'Phone_BB': str((data['ObjectInfo']['BoundingBox']['Phone']['Position']))
        }

    df = pd.DataFrame(d, index = [0])
    return df

In [ ]:
fnames = '/content/drive/MyDrive/ZB/DL_project_2/data/Validation/label_val/045_G1/045_G1_01_무광원_계기판_정상주시_20200929_110850_02193.json'

data = open_json_to_DF(fnames)
data

,FileName,Width,Height,label,Mask,Glasses,Cap,Annotation,Face_TF,Face_BB,Leye_TF,Leye_BB,Reye_TF,Reye_BB,Mouth_TF,Mouth_BB,Cigar_TF,Cigar_BB,Phone_TF,Phone_BB
0,045_G1_01_무광원_계기판_정상주시_20200929_110850_02193.jpg,800,1280,normal,False,False,False,1,True,"[275, 620, 556, 924]",True,"[317, 653, 388, 690]",True,"[438, 651, 519, 692]",True,"[356, 791, 471, 836]",False,"[0, 0, 0, 0]",False,"[0, 0, 0, 0]"

In [ ]:
base_path = '/content/drive/MyDrive/ZB/DL_project_2/data/Validation/label_val'
folderList = os.listdir(base_path)

df_merge = data

for folder in folderList:
    path = os.path.join(base_path, folder)
    fnames = os.listdir(path)

    for fname in fnames:
        src = os.path.join(path, fname)
        try:
            df = open_json_to_DF(src)
            df_merge = pd.concat([df_merge, df])
        except Exception as e:
            print(e)
            print(fname)

In [ ]:
df_merge.head()

,FileName,Width,Height,label,Mask,Glasses,Cap,Annotation,Face_TF,Face_BB,Leye_TF,Leye_BB,Reye_TF,Reye_BB,Mouth_TF,Mouth_BB,Cigar_TF,Cigar_BB,Phone_TF,Phone_BB
0,045_G1_01_무광원_계기판_정상주시_20200929_110850_02193.jpg,800,1280,normal,False,False,False,1,True,"[275, 620, 556, 924]",True,"[317, 653, 388, 690]",True,"[438, 651, 519, 692]",True,"[356, 791, 471, 836]",False,"[0, 0, 0, 0]",False,"[0, 0, 0, 0]"
0,045_G1_01_무광원_계기판_정상주시_20200929_110850_02193.jpg,800,1280,normal,False,False,False,1,True,"[275, 620, 556, 924]",True,"[317, 653, 388, 690]",True,"[438, 651, 519, 692]",True,"[356, 791, 471, 836]",False,"[0, 0, 0, 0]",False,"[0, 0, 0, 0]"
0,045_G1_01_무광원_계기판_정상주시_20200929_110850_02244.jpg,800,1280,normal,False,False,False,1,True,"[279, 615, 563, 921]",True,"[318, 645, 398, 686]",True,"[445, 650, 525, 691]",True,"[356, 785, 473, 837]",False,"[0, 0, 0, 0]",False,"[0, 0, 0, 0]"
0,045_G1_01_무광원_계기판_졸음재현_20200929_110850_02369.jpg,800,1280,sleep,False,False,False,1,True,"[257, 674, 564, 969]",True,"[293, 704, 385, 757]",True,"[435, 708, 537, 759]",True,"[355, 870, 467, 913]",False,"[0, 0, 0, 0]",False,"[0, 0, 0, 0]"
0,045_G1_01_무광원_계기판_졸음재현_20200929_110850_02384.jpg,800,1280,sleep,False,False,False,1,True,"[238, 757, 563, 1036]",True,"[277, 807, 367, 854]",True,"[433, 807, 524, 850]",True,"[351, 953, 468, 1002]",False,"[0, 0, 0, 0]",False,"[0, 0, 0, 0]"

In [ ]:
df_merge.reset_index(drop=True, inplace = True)
df_merge.head()

,FileName,Width,Height,label,Mask,Glasses,Cap,Annotation,Face_TF,Face_BB,Leye_TF,Leye_BB,Reye_TF,Reye_BB,Mouth_TF,Mouth_BB,Cigar_TF,Cigar_BB,Phone_TF,Phone_BB
0,045_G1_01_무광원_계기판_정상주시_20200929_110850_02193.jpg,800,1280,normal,False,False,False,1,True,"[275, 620, 556, 924]",True,"[317, 653, 388, 690]",True,"[438, 651, 519, 692]",True,"[356, 791, 471, 836]",False,"[0, 0, 0, 0]",False,"[0, 0, 0, 0]"
1,045_G1_01_무광원_계기판_정상주시_20200929_110850_02193.jpg,800,1280,normal,False,False,False,1,True,"[275, 620, 556, 924]",True,"[317, 653, 388, 690]",True,"[438, 651, 519, 692]",True,"[356, 791, 471, 836]",False,"[0, 0, 0, 0]",False,"[0, 0, 0, 0]"
2,045_G1_01_무광원_계기판_정상주시_20200929_110850_02244.jpg,800,1280,normal,False,False,False,1,True,"[279, 615, 563, 921]",True,"[318, 645, 398, 686]",True,"[445, 650, 525, 691]",True,"[356, 785, 473, 837]",False,"[0, 0, 0, 0]",False,"[0, 0, 0, 0]"
3,045_G1_01_무광원_계기판_졸음재현_20200929_110850_02369.jpg,800,1280,sleep,False,False,False,1,True,"[257, 674, 564, 969]",True,"[293, 704, 385, 757]",True,"[435, 708, 537, 759]",True,"[355, 870, 467, 913]",False,"[0, 0, 0, 0]",False,"[0, 0, 0, 0]"
4,045_G1_01_무광원_계기판_졸음재현_20200929_110850_02384.jpg,800,1280,sleep,False,False,False,1,True,"[238, 757, 563, 1036]",True,"[277, 807, 367, 854]",True,"[433, 807, 524, 850]",True,"[351, 953, 468, 1002]",False,"[0, 0, 0, 0]",False,"[0, 0, 0, 0]"

In [ ]:
df_merge.drop([0],axis =0, inplace= True)

In [ ]:
df_merge.reset_index(drop=True, inplace = True)
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12563 entries, 0 to 12562
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FileName    12563 non-null  object
 1   Width       12563 non-null  int64
 2   Height      12563 non-null  int64
 3   label       12563 non-null  object
 4   Mask        12563 non-null  bool
 5   Glasses     12563 non-null  bool
 6   Cap         12563 non-null  bool
 7   Annotation  12563 non-null  int64
 8   Face_TF     12563 non-null  bool
 9   Face_BB     12563 non-null  object
 10  Leye_TF     12563 non-null  bool
 11  Leye_BB     12563 non-null  object
 12  Reye_TF     12563 non-null  bool
 13  Reye_BB     12563 non-null  object
 14  Mouth_TF    12563 non-null  bool
 15  Mouth_BB    12563 non-null  object
 16  Cigar_TF    12563 non-null  bool
 17  Cigar_BB    12563 non-null  object
 18  Phone_TF    12563 non-null  bool
 19  Phone_BB    12563 non-null  object
dtypes: bool(9), int64(3), object(8)
memory usage: 1.2+ MB

In [ ]:
df_merge.to_csv('./concat_labeled_json_file_val.csv', sep = ',', encoding= 'utf-8')

In [ ]:
os.chdir('/content/drive/MyDrive/ZB/DL_project_2/data/Training')

In [ ]:
os.mkdir('./label_train')

In [ ]:
!unzip -qq '/content/drive/MyDrive/ZB/DL_project_2/data/Training/label_train.zip' -d '/content/drive/MyDrive/ZB/DL_project_2/data/Training/label_train'

replace /content/drive/MyDrive/ZB/DL_project_2/data/Training/label_train/001_G1/001_G1_01_무광원_계기판_정상주시_20200917_182234_02144.json? [y]es, [n]o, [A]ll, [N]one, [r]ename: [A]
error:  invalid response [[A]]
replace /content/drive/MyDrive/ZB/DL_project_2/data/Training/label_train/001_G1/001_G1_01_무광원_계기판_정상주시_20200917_182234_02144.json? [y]es, [n]o, [A]ll, [N]one, [r]ename: A

In [ ]:
base_path = '/content/drive/MyDrive/ZB/DL_project_2/data/Training/label_train'
folderList = os.listdir(base_path)

df_merge_train = data

for folder in folderList:
    path = os.path.join(base_path, folder)
    fnames = os.listdir(path)

    for fname in fnames:
        src = os.path.join(path, fname)
        try:
            df = open_json_to_DF(src)
            df_merge = pd.concat([df_merge, df])
        except Exception as e:
            print(e)
            print(fname)